name: CI - Build, Push, and Update Manifests

on:
    push:
        branches:
            - "**"

permissions:
    contents: write

jobs:
    build_and_deploy:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout code
              uses: actions/checkout@v3
              with:
                  fetch-depth: 0

            - name: Set up Docker Buildx
              uses: docker/setup-buildx-action@v2

            - name: Login to Docker Hub
              if: github.ref == 'refs/heads/main' || github.ref == 'refs/heads/develop'
              uses: docker/login-action@v2
              with:
                  username: ${{ secrets.DOCKER_USERNAME }}
                  password: ${{ secrets.DOCKERHUB_TOKEN }}

            - name: Build and Push Image
              id: docker_build
              uses: docker/build-push-action@v4
              with:
                  context: ./DevOps-Project-1/mini-finance-app
                  push: ${{ github.ref == 'refs/heads/main' || github.ref == 'refs/heads/develop' }}
                  tags: |
                      lakunzy/mini-finance-app:${{ github.sha }}
                      lakunzy/mini-finance-app:latest

            - name: Update Production Manifest
              if: github.ref == 'refs/heads/main'
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
              run: |
                  git config --global user.name 'github-actions[bot]'
                  git config --global user.email 'github-actions[bot]@users.noreply.github.com'
                  sed -i "s|image:.*|image: lakunzy/mini-finance-app:${{ github.sha }}|g" DevOps-Project-1/k8s/production/manifests.yaml
                  git add DevOps-Project-1/k8s/production/manifests.yaml
                  git commit -m "ci: update production image tag to ${{ github.sha }}" || echo "No changes to commit"
                  git push https://${{ github.actor }}:${GITHUB_TOKEN}@github.com/${{ github.repository }}.git HEAD:main

            - name: Update Development Manifest
              if: github.ref == 'refs/heads/develop'
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
              run: |
                  git config --global user.name 'github-actions[bot]'
                  git config --global user.email 'github-actions[bot]@users.noreply.github.com'
                  sed -i "s|image:.*|image: lakunzy/mini-finance-app:${{ github.sha }}|g" DevOps-Project-1/k8s/dev/manifests.yaml
                  git add DevOps-Project-1/k8s/dev/manifests.yaml
                  git commit -m "ci: update dev image tag to ${{ github.sha }}" || echo "No changes to commit"
                  git push https://${{ github.actor }}:${GITHUB_TOKEN}@github.com/${{ github.repository }}.git HEAD:develop
